.md-progress-bar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}


.md-card {
  width: 320px;
  margin: 4px;
  display: inline-block;
  vertical-align: top;
}

h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
