.md-card {
  width: 320px;
  display: inline-block;
}
#map {
  position: absolute;
  top: 7vh;
  bottom: 0;
  left: 0;
  right: 0;
}

.actions {
  position: absolute;
  top: 15vh;
  bottom: 0;
  right: 2vw;
}

.fullscreen:-moz-full-screen {
  height: 100vh;
}

.fullscreen:-webkit-full-screen {
  height: 100vh;
}

.fullscreen:-ms-fullscreen {
  height: 100vh;
}

.fullscreen:fullscreen {
  height: 100%;
}

.fullscreen {
  margin-bottom: 10px;
  width: 100%;
  height: 400px;
}

.ol-custom-overviewmap,
.ol-custom-overviewmap.ol-uncollapsible {
  bottom: auto;
  left: auto;
  right: 0;
  top: 0;
}

.ol-custom-overviewmap:not(.ol-collapsed) {
  border: 1px solid black;
}

.ol-custom-overviewmap .ol-overviewmap-map {
  border: none;
  width: 300px;
}

.ol-custom-overviewmap .ol-overviewmap-box {
  border: 2px solid red;
}

.ol-custom-overviewmap:not(.ol-collapsed) button {
  bottom: auto;
  left: auto;
  right: 1px;
  top: 1px;
}

.ol-rotate {
  top: 170px;
  right: 0;
}

.md-field {
  max-width: 300px;
}
